body {
  background-color: black;
}


canvas {
  border: 2px solid blue;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.ui-slider {
    height: 10px;
    width: 200px;
    margin: 0 auto;
}